In [4]:
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
import pandas as pd
import os
import os.path as osp
from glob import glob

In [22]:
dataset = 'validate'
# dataset = 'train'
path_to_data = f'../../smg/smg_data_phase1/smg_skeleton_{dataset}'
path_to_data = osp.join(*path_to_data.split('/'))

In [23]:
def extract_all_labels_files(path_to_folder):
    all_csv_files = glob(osp.join(path_to_folder,'*',"*labels.csv"))
    df_list = []
    column_names = ["label","start_frame","end_frame"]
    rows = ['filename','file_num']
    for csv_file in all_csv_files:
        temp_df = pd.read_csv(csv_file, header=None, names=column_names)
        
        temp_df['filename'] = osp.basename(csv_file).split('_')[0]
        temp_df['file_num'] = [str(x) for x in range(len(temp_df))]
        temp_df['id'] = temp_df[rows].apply(lambda x: '_'.join(x.values.astype(str)), axis=1)
        df_list.append(temp_df)
    return pd.concat(df_list)
df = extract_all_labels_files(path_to_data)
df

     label  start_frame  end_frame    filename file_num              id
0        5          940       1029  Sample0031        0    Sample0031_0
1        5         1245       1329  Sample0031        1    Sample0031_1
2        5         1482       1587  Sample0031        2    Sample0031_2
3        5         1744       1826  Sample0031        3    Sample0031_3
4        5         1865       1933  Sample0031        4    Sample0031_4
..     ...          ...        ...         ...      ...             ...
99      13        23616      23675  Sample0035       99   Sample0035_99
100      9        23991      24062  Sample0035      100  Sample0035_100
101      5        24361      24454  Sample0035      101  Sample0035_101
102      5        24478      24539  Sample0035      102  Sample0035_102
103      9        24572      24616  Sample0035      103  Sample0035_103

[637 rows x 6 columns]

In [17]:
os.getcwd()

'D:\\Project-mpg microgesture\\human_micro_gesture_classifier\\miga'