In [4]:
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
import pandas as pd
import os
import os.path as osp
from glob import glob

In [10]:
# dataset = 'validate'
dataset = 'train'
path_to_data = f'../../smg/smg_data_phase1/smg_skeleton_{dataset}'
path_to_data = osp.join(*path_to_data.split('/'))

In [11]:
def extract_all_labels_files(path_to_folder):
    all_csv_files = glob(osp.join(path_to_folder,'*',"*labels.csv"))
    df_list = []
    column_names = ["label","start_frame","end_frame"]
    rows = ['filename','file_num']
    for csv_file in all_csv_files:
        temp_df = pd.read_csv(csv_file, header=None, names=column_names)
        
        temp_df['filename'] = osp.basename(csv_file).split('_')[0]
        temp_df['file_num'] = [str(x) for x in range(len(temp_df))]
        temp_df['id'] = temp_df[rows].apply(lambda x: '_'.join(x.values.astype(str)), axis=1)
        df_list.append(temp_df)
    return pd.concat(df_list)
df = extract_all_labels_files(path_to_data)
df

    label  start_frame  end_frame    filename file_num             id
0      15          100        176  Sample0001        0   Sample0001_0
1      12          837        889  Sample0001        1   Sample0001_1
2      12         1710       1749  Sample0001        2   Sample0001_2
3       8         4849       4885  Sample0001        3   Sample0001_3
4       9         6330       6368  Sample0001        4   Sample0001_4
..    ...          ...        ...         ...      ...            ...
51      9        19190      19278  Sample0030       51  Sample0030_51
52      9        19413      19510  Sample0030       52  Sample0030_52
53      9        19555      19680  Sample0030       53  Sample0030_53
54      9        19686      19752  Sample0030       54  Sample0030_54
55      9        19766      19885  Sample0030       55  Sample0030_55

[2452 rows x 6 columns]

In [12]:
os.getcwd()

'D:\\Project-mpg microgesture\\human_micro_gesture_classifier\\miga'

In [13]:
from sklearn.utils.class_weight import compute_class_weight

In [17]:
labels = df['label'].values
classes = df['label'].unique()
compute_class_weight(class_weight="balanced", classes=classes, y=labels)

array([13.11229947,  0.8636844 ,  0.57925821,  0.19922002,  3.00490196,
        3.60588235,  2.28944911,  0.82420168,  1.42807222,  0.2003268 ,
        7.59133127,  3.69834087,  3.517934  ,  6.86834734, 10.30252101,
       16.02614379, 13.11229947])